@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/Montserrat/MontserratAlternates-ExtraBold.ttf");
}
@font-face {
  font-family: "Numans";
  src: url("/Numans/Numans-Regular.ttf");
}

@layer base{
  body{
    @apply bg-white text-black text-sm
  }
  h1{
    @apply text-[46px] md:text-[54px] lg:text-[64px] font-alternate leading-none
  }
  h2{
    @apply text-[36px] md:text-[42px] lg:text-[48px] font-alternate leading-none
  }

  .newsletter-form {
    --primary: #90d554;
    --success: #b8f582;
  }

  .newsletter-form button {
    --text-opacity: 1;
    --success-opacity: 0;
  }

  .newsletter-form button:not(.active) {
    background: var(--primary);
  }

  .newsletter-form button span {
    display: block;
    position: relative;
    z-index: 4;
    opacity: var(--text-opacity);
  }

  .newsletter-form button span.success {
    z-index: 0;
    position: absolute;
    right:20px;
    top: 6px;
    opacity: var(--success-opacity);
    color: var(--success);
  }
}

.button-1{
  @apply px-4 outline rounded-lg py-2 text-center
}

.button-2{
  @apply px-6 bg-black text-white rounded-lg py-4 text-center
}